/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* # Carousel */

#carousel {
    margin: 50px auto;
    height: 300px;
    width: 700px;
    position: relative;
}

#carousel #gallery {
    height: 100%;
}

#carousel img {
    margin: 0 auto;
    display: none;
    height: 100%;
    max-width: 100%;
    border-radius: 20px;
}

#carousel .active {
    display: block;
}

/* Icons */

i {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#pre {
    left: -15%;
}

#next {
    right: -15%;
}

/* # Thumbnails */

#thumbnails {
    width: 700px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 5px;
    transform: translateX(-25px);
}

#thumbnails img {
    height: 100%;
    border-radius: 20px;
}