/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* # generals*/

#carousel {
    margin: 50px auto;
    height: 400px;
    width: 600px;
}

#carousel #gallery {
    height: 100%;
    width: 100%;
}

#carousel img {
    display: none;
    width: 100%;
    border-radius: 20px;
}

#carousel .active {
    display: block;
}